---
layout: splash
permalink: /
title: "Hwang, Hyung-Sik"
header:
  overlay_image: "/assets/img/wave.jpg"
  overlay_filter: 0.5 # 이미지 어둡게 처리 (0~1 사이값)
  content: >
    ## 나만의 포트폴리오
    
    GitHub Pages와 Minimal Mistakes 테마로 만든 사이트입니다.
  actions:
    - label: "Hyung-Sik's GitHub"
      url: "https://github.com/HYUNGSIKH"
excerpt: "DY Engineering Manager <br> Coastal&Ocean Engineering"

#intro:
#  - excerpt: 'DY Engineering Manager.'

feature_row_projects:
  - image_path: https://via.placeholder.com/500x300
    title: "About"
    excerpt: "Introduce Hyung-Sik"
    url: "#"
    btn_label: "상세 보기"
    btn_class: "btn--primary"
  - image_path: https://via.placeholder.com/500x300
    title: "ADCIRC"
    excerpt: "ADCIRC에 대한 내용을 정리"
    url: "#"
    btn_label: "상세 보기"
    btn_class: "btn--primary"
  - image_path: https://via.placeholder.com/500x300
    title: "OpenFOAM"
    excerpt: "OpenFOAM에 대한 내용을 정리"
    url: "#"
    btn_label: "읽으러 가기"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_projects" %}
